/*Global styles
----------------------*/

body {
	font-family: 'Quicksand', sans-serif;

}
h1,h2 {
	font-family: 'Indie Flower', cursive;

}
h1{
	font-size: 80px;
}
h2 {
	font-size: 40px;
}
 a {
 	color: #F4E04D;
 }

a:hover {
	text-decoration: none;
}
/*Header and Footer
----------------------*/
header, footer {
	background:#564592;
	color: #E5FCF5;
}
header h1, header h2{
    color:#FEFFFE;
}
/*Work experience{}
----------------------*/
.work {
	background:#EDF67D;
}

/*Education
----------------------*/
.education {
	background:#CA7DF9;
}